

html {
    margin:0;
    padding:0;
    background-image:url(assets/starfield.jpg);
  }
  
  body {
      background-color:rgb(10, 17, 56,0);
      color:rgb(187, 203, 210);
      margin:0;
      padding:0;
      max-width:1000px;
      margin:auto;
    
  }

  .App-header
  {
    border:4px solid blue;
    box-shadow:0 0 20px blue;
    padding:10px;
    border-radius:14px;
    margin-top:20px;
    background-color:rgb(17, 36, 59);
  }

  .App-logo {
      width:100%;
  }
  
  .presetList {
    text-align: center;
    width:100%;
    background-color:rgb(35, 41, 65);
    box-sizing: border-box;
  }
  .presetLink {
    display:inline-block;
    border:1px solid blue;
    color:white;
    padding:8px;
    background-color:rgb(9, 9, 172);
    user-select: none;
    cursor: pointer;
    margin-top:4px;
    margin-bottom:4px;
    border-radius:8px;
    margin-left:4px;
    margin-right:4px;
    box-sizing:border-box;
  }
  .presetLink:hover {
    background-color:blue;
  }
  
  /*  ClearFix  */
  /*  The ClearFix by Tony Aslett and Nicholas Gallagher */
  .group:before,
  .group:after {
  content: "";
  display: table; }
  
  .group:after {
  clear: both; }
  
  .group {
  zoom: 1;
  /* IE6&7 */ }
  
  