

html {
    margin:0;
    padding:0;
    background-image:url(assets/starfield.jpg);
  }
  
  body {
      background-color:rgb(10, 17, 56,0);
      color:rgb(187, 203, 210);
      margin:0;
      padding:0;
      max-width:1100px;
      width:90%;
      margin:auto;
      background-color:rgb(17,36,59);
      border:4px solid blue;
      box-shadow:0 0 30px blue;
      border-radius:14px;
      margin-top:40px;
      margin-bottom:100px;
  }

  .App-header
  {

    padding:10px;
    padding-top:20px;
    text-align:center;
    margin-top:20px;
    background-color:rgb(17, 36, 59);
  }

  .App-logo {
      width:100%;
      margin:auto;
      max-width:1000px;
      margin-bottom:-24px;
  }
  
  .presetList {
    text-align: center;
    width:100%;
    background-color:rgb(35, 41, 65);
    box-sizing: border-box;
  }
  .presetLink {
    display:inline-block;
    border:1px solid blue;
    color:white;
    padding:8px;
    background-color:rgb(9, 9, 172);
    user-select: none;
    cursor: pointer;
    margin-top:4px;
    margin-bottom:4px;
    border-radius:8px;
    margin-left:4px;
    margin-right:4px;
    box-sizing:border-box;
  }
  .presetLink:hover {
    background-color:blue;
  }
  
  .result {
    width:100%;
    box-sizing: border-box;
    position: relative;
  }
  .nasaImage {
    width:100%;
    box-sizing:border-box;
    height:600px;
    overflow: hidden;
  }

  .nasaImage img {
    width:100%;
    box-sizing: border-box;
  }
  .description {
    position: absolute;
    top:40px;
    right:40px;
    background-color:black;
    color:white;
    width:30%;
    padding:20px;
    border-radius:18px;
    box-sizing:border-box;
    border:2px solid #aaaaaa;
    box-shadow:0 0 20px blue;

  }

  .icon {
    width:60px;
    box-sizing:border-box;
    justify-content: center;
    border-radius:50%;
    background-color:rgb(72, 72, 100);
    padding:6px;
    border:2px solid black;
    box-shadow:0 0 8px black;
  }

  .icon:hover {
    background-color:blue;
  }
  .playIcon {
    width:80px;
  }

  .slideNavigation {

    width:100%;
  }
  .navWrapper {

 
    position: relative;
    top:-60px;

  }

  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .center { 
    justify-content: center; 
  }  

  /*  ClearFix  */
  /*  The ClearFix by Tony Aslett and Nicholas Gallagher */
  .group:before,
  .group:after {
  content: "";
  display: table; }
  
  .group:after {
  clear: both; }
  
  .group {
  zoom: 1;
  /* IE6&7 */ }
  
  